{
  "ethereum_address": "{{ node_data.ethereum_address }}",
  "network": "{{ node_data.network }}",
  "private_key": "{{ node_data.private_key }}",
  "public_key": "{{ node_data.public_key }}",
  "pubkey_hash": "{{ node_data.pubkey_hash }}"
}